* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p { 
	color: yellow;
}
body { 
	font-family: 'PT Sans', sans-serif;
	background-color: none;
	/* padding: 30px; */
}

.header {
	background-image: url(images/headshot.jpeg);
	background-repeat: no-repeat;
	background-size: 40%;
	height: 100vh;
	position: relative;
}

.profile h1 {
	color: black;
	font-size: 300%;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
	font-weight: 1100;
	text-align: center;
}

.navbar-container {
	position: absolute;
	left: 35vw;
	width: 60vw;
	margin: 0 auto;
}

nav ul {
	float: right;
	padding: 0;
}

nav li {
	display: inline-block;
	padding-left: 30px;
	text-transform: uppercase;
	padding-top: 30px;
}

nav li:hover {
	text-shadow: 10px;
	color: gainsboro;
	cursor: pointer;
}

.profile {
	padding-top: 5%;
	padding-left: 50%;
	width: 40%;
	display: inline-block;
}

.profile ul {
	text-align: center;
}

.title ul {
	list-style: none;
	font-size: 30px;
	padding-left: 0;
}

.social {
	margin-left: 10%;
}

.social img {
	width: 40px;
	height: auto;
	margin-right: 10px;
}

.title li {
	font-weight: bold;
}


h1 {
	color: blue;
}
.media { 
	background-color: orange;
}
.websites {
	background-color: pink;
}
.top {
	background: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xaf1/t31.0-8/885585_10152877163621573_7264328015885393699_o.jpg");
	background-size: cover;
}
.contact {
	background: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xaf1/t31.0-8/885585_10152877163621573_7264328015885393699_o.jpg");
	height: 500px;
	background-size: cover;
}
.contact img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.contact img: hover {
	opacity: 0.5;
}
.about {
	background: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/1962508_10152482060966573_3424983583913150001_o.jpg");
}
.hobbies {
	background: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpf1/t31.0-8/1962508_10152482060966573_3424983583913150001_o.jpg");
}